@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
	--primary-color: #000000;
	--secondary-color: #F6F6F6;
	--tertiary-color: #22D4FD;
	--bg-hover-color: #272727;
	--primary-font: "Krona One", sans-serif;
	--secondary-font: "Montserrat", sans-serif;

	--alternative-color: #F54927;
	--other-color: #F5B027;
}

* {
    margin:  0; /*5*/
    padding: 0; /*5*/
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--primary-color);	                                
    color: var(--secondary-color);
    font-family: "Open Sans", "Century Gothic", Tahoma, Serif;
    font-size: 15px;
}

.header {
	background-color: var(--bg-hover-color);
	pading: 2% 0% 0% 15%;
}

.header__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.header__menu__link {
	font-family: var(--secondary-font);
	font-size: 24px;
	font-weight: 600;
	color: var(--secondary-color);
	margin: 0 10px;
	padding: 5px; 10px;
	text-decoration: none;

	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	gap: 8px;
    align-items: center;
}

.header__menu__link:hover {
	color: var(--alternative-color);
}

.header__menu__link__img {
	height: 48px;
	width: 48px;
}

.presentation {
	margin: 2% 4%;
	pading: 5% 15%;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.presentation__content {
	width: 615px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.presentation__content__title {
	font-size: 36px;
	font-family: var(--primary-font);
	font-weight: bold;
}

.presentation__content__paragraph {
	font-size: 24px;
	font-family: var(--secondary-font);
}

.presentation__content_paragraph__emphasis {
	font-size: 28px;
	font-weight: 800;
	color: var(--alternative-color);
}

.presentation__links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.presentation__links__subtitle {
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 24px;
}

.presentation__links__link {
	display: flex;
	justify-content: center;
	gap: 16px;
	width: 378px; /* was 280px */
	text-align: center;
	border-radius: 8px; /* was 16 */
	font-size: 24px;
	font-weight: 600;
	padding: 21.5px 0;
	text-decoration: none;
	color: var(--secondary-color);
	font-family: var(--secondary-font);
	border: 2px solid var(--tertiary-color);
}

.presentation__links__link:hover {
	background-color: var(--bg-hover-color);
	color: var(--alternative-color);
	padding: 4%;
}

.main-image {
	height: 532px;
	width: 468px;
}

.footer {
	padding: 24px;
	color: var(--primary-color);
	background-color: var(--tertiary-color);
	text-align: center;
	font-family: var(--secondary-font);
	font-size: 24px;
	font-weight: 400;
}

.footer__link {
	color: var(--primary-color);
	text-decoration: none;
}

.footer__link:hover {
	background-color: var(--other-color);
	color: var(--alternative-color);
	padding: 1%;
	border: 2px dotted var(--secondary-color);
	border-radius: 16px;
	
}

strong {
    color: var(--alternative-color);
}
