@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;					/*5*/
    padding: 0;					/*5*/
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000000;	                                /*#1A0000*/
    color: #F6F6F6;				                            /*#FCFFE7*/
    font-family: "Open Sans", "Century Gothic", Tahoma, Serif;
    font-size: 15px;
}

.header {
	background-color: #272727;
	pading: 2% 0% 0% 15%;
}

.header__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 80px;
}

.header__menu__link {
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: #F6F6F6; /* 333 */
	margin: 0 10px;
	padding: 5px; 10px;
	text-decoration: none;

	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	gap: 8px;
    align-items: center;
}

.header__menu__link:hover {
	color: #F54927; /*007bff*/
}

.header__menu__link__img {
	height: 48px;
	width: 48px;
}

.presentation {
	margin: 2% 4%;
	pading: 5% 15%;
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.presentation__content {
	width: 615px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.presentation__content__title {
	font-size: 36px;
	font-family: 'Krona One', sans-serif;
	font-weight: bold;
}

.presentation__content__paragraph {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

.presentation__content_paragraph__emphasis {
	font-size: 28px;
	font-weight: 800;
	color: #F54927;
}

.presentation__links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

.presentation__links__subtitle {
	font-family: "Krona One", sans-serif;
	font-weight: 400;
	font-size: 24px;
}

.presentation__links__link {
	/* background-color: #22D4FD; */
	display: flex;
	justify-content: center;
	gap: 16px;
	width: 378px; /* was 280px */
	text-align: center;
	border-radius: 8px; /* was 16 */
	font-size: 24px;
	font-weight: 600;
	padding: 21.5px 0;
	text-decoration: none;
	color: #F6F6F6; /* was #000000 */
	font-family: 'Montserrat', sans-serrif;
	border: 2px solid #22D4FD;
}

.presentation__links__link:hover {
	background-color: #272727;
	color: #F54927;
	padding: 4%;
}

.main-image {
	height: 532px;
	width: 468px;
}

.footer {
	padding: 24px;
	color: #000000;
	background-color: #22D4FD;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.footer__link {
	color: #000000;
	text-decoration: none;
}

.footer__link:hover {
	/* background-color: #10C1FA; */
	color: #F54927;
	padding: 1%;
	border: 2px dotted #FFFFFF;
	border-radius: 8px; /* was 16 */
	
}

/* Tests/dev purpose */
strong {
    color: #F54927; /* #F5B027 */
}

/* p { */
/*     margin: 5px; */
/* 	padding: 5px; */
/*     /\* border: 1px solid #89C4E1; *\/ */
/* } */
